name: CI - Test HTML

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install htmlhint
        run: npm install -g htmlhint
      - name: Run HTML test
        run: htmlhint index.html
